Repository cyfronet-fid/eosc-search-service, pull requests merged in 2023-11, with the labels that each got.

#1016 fix: test PR
  docker-compose.yml
  ui/apps/ui/src/app/collections/filters-serializers/filters-serializers.utils.ts
  ui/apps/ui/src/app/components/filters/filter-multiselect/filter-multiselect.component.ts
  ui/apps/ui/src/app/components/filters/filters.service.ts
  ui/apps/ui/src/styles.scss
Labels: bug

#1033 feat: guidelines & trainings minor improvements
  ui/apps/ui/src/app/collections/data/guidelines/filters.data.ts
  ui/apps/ui/src/app/collections/data/trainings/filters.data.ts
  ui/apps/ui/src/app/pages/guidelines-page/guideline-detail-page.component.html
  ui/apps/ui/src/app/pages/trainings-page/training-detail-page.component.html
Labels: bug

#1052 feat: [#1051] map new sd oag, merged: dev
  transform/app/process.py
  transform/app/transform/mappings/scientific_doamin.py
  transform/app/transform/transformers/base/oag.py
  transform/app/transform/utils/common.py
Labels: data, transformer

#1058 feat: catalogues for oag resources - merged into before transform
  transform/schemas/output/dataset.py
  transform/schemas/output/other_rp.py
  transform/schemas/output/publication.py
  transform/schemas/output/software.py
  transform/schemas/properties/data.py
  transform/transformers/base/oag.py
Labels: transformer

#1017 feat: [#771] add transformer endpoint for creating collections
  transform/app/api/routes/__init__.py
  transform/app/api/routes/solr/__init__.py
  transform/app/api/routes/solr/create_collections.py
  transform/app/api/routes/transform/batch.py
  transform/app/api/routes/transform/full.py
  transform/app/server.py
  transform/app/services/solr/collections.py
  transform/app/services/solr/configsets.py
  transform/app/tasks/batch.py
  transform/app/tasks/create_collections.py
  transform/app/transform/schemas/properties/env.py
  transform/app/validations/__init__.py
  transform/app/validations/other.py
  transform/app/validations/solr.py
  transform/app/worker.py
Labels: enhancement, transformer

#1060 feat: [#1038] data minor improvements
  transform/app/services/mp_pc/data.py
  transform/app/tasks/batch.py
  transform/app/transform/schemas/output/guideline.py
  transform/app/transform/schemas/output/training.py
  transform/app/transform/schemas/properties/data.py
  transform/app/transform/transformers/base/base.py
  transform/app/transform/transformers/guideline.py
  transform/app/transform/transformers/training.py
  transform/app/transform/utils/common.py
Labels: data, transformer
