Repository cyfronet-fid/eosc-search-service, pull requests merged in 2023-12, with the labels that each got.

#1071 feat: [#1022] add transformer endpoint for creating/switching aliases
  transform/app/api/routes/solr/__init__.py
  transform/app/api/routes/solr/create_aliases.py
  transform/app/api/routes/solr/create_collections.py
  transform/app/tasks/create_aliases.py
  transform/app/transform/mappings/scientific_doamin.py
  transform/app/transform/transformers/base/marketplace.py
  transform/app/transform/transformers/bundle.py
  transform/app/transform/transformers/guideline.py
  transform/app/transform/transformers/provider.py
  transform/app/transform/transformers/training.py
  transform/app/validations/other.py
  transform/app/worker.py
Labels: enhancement, transformer

#1073 fix: [#1072] fix providers and orgs for ig and trainings
  backend/app/solr/operations.py
  backend/app/solr/utils.py
  ui/apps/ui/src/app/collections/data/guidelines/adapter.data.ts
  ui/apps/ui/src/app/collections/data/guidelines/filters.data.ts
  ui/apps/ui/src/app/collections/data/guidelines/guideline.model.ts
  ui/apps/ui/src/app/collections/data/trainings/training.model.ts
  ui/apps/ui/src/app/collections/repositories/types.ts
  ui/apps/ui/src/app/components/results-with-pagination/result.component.ts
  ui/apps/ui/src/app/components/results-with-pagination/results-with-pagination.component.html
  ui/apps/ui/src/app/layouts/tags/tags.component.ts
  ui/apps/ui/src/app/pages/guidelines-page/guideline-detail-page.component.html
  ui/apps/ui/src/app/pages/trainings-page/training-detail-page.component.html
  ui/apps/ui/src/app/pages/trainings-page/training-detail-page.component.ts
Labels: bug

#1074 feat: [AdHoc] Fix missing onFetchNodes mappings
  ui/apps/ui/src/app/collections/data/all/filters.data.ts
  ui/apps/ui/src/app/collections/data/data-sources/filters.data.ts
  ui/apps/ui/src/app/collections/data/datasets/filters.data.ts
  ui/apps/ui/src/app/collections/data/other-resources-products/filters.data.ts
  ui/apps/ui/src/app/collections/data/publications/filters.data.ts
  ui/apps/ui/src/app/collections/data/services/filters.data.ts
  ui/apps/ui/src/app/collections/data/software/filters.data.ts
  ui/apps/ui/src/app/collections/data/utils.ts
  ui/apps/ui/src/app/collections/repositories/types.ts
Labels: bug

#1086 feat: [#1084] remove prefix eosc_if from oag data
  transform/app/transform/transformers/base/oag.py
  transform/app/transform/utils/common.py
Labels: data, transformer

#1087 fix: citations - set gray color to next button if disabled
  ui/apps/ui/src/app/components/bibliography/bibliography.component.html
  ui/apps/ui/src/styles.scss
Labels: enhancement

#1104 feat: [#1103] turn off sort by rel - services, change its name
  ui/apps/ui/src/app/collections/data/services/nav-config.data.ts
  ui/apps/ui/src/app/components/sort-by-functionality/sort-by-functionality.component.ts
Labels: recommendations

#1122 feat: [#1121] speed up search
  README.md
  backend/app/routes/web/configuration.py
  backend/app/routes/web/search_results.py
  backend/app/schemas/configuration_response.py
  backend/app/settings.py
  backend/tests/app/routes/test_configuration.py
  ui/apps/ui/src/app/pages/search-page/utils.ts
Labels: optimalization

#1130 fix: [#1129] manual data source pids mapping
  ui/apps/ui/src/app/collections/data/config.ts
Labels: bug

#1128 feat: [#1127] map oag's data sources - merged into before transform
  transform/mappings/datasources_pids.py
  transform/transformations/common.py
Labels: data

#1133 feat: [#1127] map oag data sources pids - development
  transform/app/transform/mappings/datasources_pids.py
  transform/app/transform/utils/common.py
Labels: data

#1124 feat: [#1098] organisation transformer (merge into before_transform_service)
  solr/config/configsets/organisation_v102/configoverlay.json
  solr/config/configsets/organisation_v102/lang/contractions_ca.txt
  solr/config/configsets/organisation_v102/lang/contractions_fr.txt
  solr/config/configsets/organisation_v102/lang/contractions_ga.txt
  solr/config/configsets/organisation_v102/lang/contractions_it.txt
  solr/config/configsets/organisation_v102/lang/hyphenations_ga.txt
  solr/config/configsets/organisation_v102/lang/stemdict_nl.txt
  solr/config/configsets/organisation_v102/lang/stoptags_ja.txt
  solr/config/configsets/organisation_v102/lang/stopwords_ar.txt
  solr/config/configsets/organisation_v102/lang/stopwords_bg.txt
  solr/config/configsets/organisation_v102/lang/stopwords_ca.txt
  solr/config/configsets/organisation_v102/lang/stopwords_cz.txt
  solr/config/configsets/organisation_v102/lang/stopwords_da.txt
  solr/config/configsets/organisation_v102/lang/stopwords_de.txt
  solr/config/configsets/organisation_v102/lang/stopwords_el.txt
  solr/config/configsets/organisation_v102/lang/stopwords_en.txt
  solr/config/configsets/organisation_v102/lang/stopwords_es.txt
  solr/config/configsets/organisation_v102/lang/stopwords_et.txt
  solr/config/configsets/organisation_v102/lang/stopwords_eu.txt
  solr/config/configsets/organisation_v102/lang/stopwords_fa.txt
  solr/config/configsets/organisation_v102/lang/stopwords_fi.txt
  solr/config/configsets/organisation_v102/lang/stopwords_fr.txt
  solr/config/configsets/organisation_v102/lang/stopwords_ga.txt
  solr/config/configsets/organisation_v102/lang/stopwords_gl.txt
  solr/config/configsets/organisation_v102/lang/stopwords_hi.txt
  solr/config/configsets/organisation_v102/lang/stopwords_hu.txt
  solr/config/configsets/organisation_v102/lang/stopwords_hy.txt
  solr/config/configsets/organisation_v102/lang/stopwords_id.txt
  solr/config/configsets/organisation_v102/lang/stopwords_it.txt
  solr/config/configsets/organisation_v102/lang/stopwords_ja.txt
  solr/config/configsets/organisation_v102/lang/stopwords_lv.txt
  solr/config/configsets/organisation_v102/lang/stopwords_nl.txt
  solr/config/configsets/organisation_v102/lang/stopwords_no.txt
  solr/config/configsets/organisation_v102/lang/stopwords_pt.txt
  solr/config/configsets/organisation_v102/lang/stopwords_ro.txt
  solr/config/configsets/organisation_v102/lang/stopwords_ru.txt
  solr/config/configsets/organisation_v102/lang/stopwords_sv.txt
  solr/config/configsets/organisation_v102/lang/stopwords_th.txt
  solr/config/configsets/organisation_v102/lang/stopwords_tr.txt
  solr/config/configsets/organisation_v102/lang/userdict_ja.txt
  solr/config/configsets/organisation_v102/managed-schema
  solr/config/configsets/organisation_v102/protwords.txt
  solr/config/configsets/organisation_v102/solrconfig.xml
  solr/config/configsets/organisation_v102/stopwords.txt
  solr/config/configsets/organisation_v102/synonyms.txt
  solr/config/configsets/organisation_v102/zknode.data
  transform/schemas/output/__init__.py
  transform/schemas/output/organisation.py
  transform/schemas/properties/data.py
  transform/schemas/properties/env.py
  transform/transformations/common.py
  transform/transformers/__init__.py
  transform/transformers/organisation.py
  transform/utils/loader.py
Labels: enhancement, data, solr-schema-changed, transformer

#1126 feat: [#1098] organisation transformer (merge into development)
  solr/config/configsets/organisation_v102/configoverlay.json
  solr/config/configsets/organisation_v102/lang/contractions_ca.txt
  solr/config/configsets/organisation_v102/lang/contractions_fr.txt
  solr/config/configsets/organisation_v102/lang/contractions_ga.txt
  solr/config/configsets/organisation_v102/lang/contractions_it.txt
  solr/config/configsets/organisation_v102/lang/hyphenations_ga.txt
  solr/config/configsets/organisation_v102/lang/stemdict_nl.txt
  solr/config/configsets/organisation_v102/lang/stoptags_ja.txt
  solr/config/configsets/organisation_v102/lang/stopwords_ar.txt
  solr/config/configsets/organisation_v102/lang/stopwords_bg.txt
  solr/config/configsets/organisation_v102/lang/stopwords_ca.txt
  solr/config/configsets/organisation_v102/lang/stopwords_cz.txt
  solr/config/configsets/organisation_v102/lang/stopwords_da.txt
  solr/config/configsets/organisation_v102/lang/stopwords_de.txt
  solr/config/configsets/organisation_v102/lang/stopwords_el.txt
  solr/config/configsets/organisation_v102/lang/stopwords_en.txt
  solr/config/configsets/organisation_v102/lang/stopwords_es.txt
  solr/config/configsets/organisation_v102/lang/stopwords_et.txt
  solr/config/configsets/organisation_v102/lang/stopwords_eu.txt
  solr/config/configsets/organisation_v102/lang/stopwords_fa.txt
  solr/config/configsets/organisation_v102/lang/stopwords_fi.txt
  solr/config/configsets/organisation_v102/lang/stopwords_fr.txt
  solr/config/configsets/organisation_v102/lang/stopwords_ga.txt
  solr/config/configsets/organisation_v102/lang/stopwords_gl.txt
  solr/config/configsets/organisation_v102/lang/stopwords_hi.txt
  solr/config/configsets/organisation_v102/lang/stopwords_hu.txt
  solr/config/configsets/organisation_v102/lang/stopwords_hy.txt
  solr/config/configsets/organisation_v102/lang/stopwords_id.txt
  solr/config/configsets/organisation_v102/lang/stopwords_it.txt
  solr/config/configsets/organisation_v102/lang/stopwords_ja.txt
  solr/config/configsets/organisation_v102/lang/stopwords_lv.txt
  solr/config/configsets/organisation_v102/lang/stopwords_nl.txt
  solr/config/configsets/organisation_v102/lang/stopwords_no.txt
  solr/config/configsets/organisation_v102/lang/stopwords_pt.txt
  solr/config/configsets/organisation_v102/lang/stopwords_ro.txt
  solr/config/configsets/organisation_v102/lang/stopwords_ru.txt
  solr/config/configsets/organisation_v102/lang/stopwords_sv.txt
  solr/config/configsets/organisation_v102/lang/stopwords_th.txt
  solr/config/configsets/organisation_v102/lang/stopwords_tr.txt
  solr/config/configsets/organisation_v102/lang/userdict_ja.txt
  solr/config/configsets/organisation_v102/managed-schema
  solr/config/configsets/organisation_v102/protwords.txt
  solr/config/configsets/organisation_v102/solrconfig.xml
  solr/config/configsets/organisation_v102/stopwords.txt
  solr/config/configsets/organisation_v102/synonyms.txt
  solr/config/configsets/organisation_v102/zknode.data
  transform/app/transform/schemas/input/__init__.py
  transform/app/transform/schemas/input/organisation.py
  transform/app/transform/schemas/output/__init__.py
  transform/app/transform/schemas/output/organisation.py
  transform/app/transform/schemas/properties/data.py
  transform/app/transform/schemas/properties/env.py
  transform/app/transform/transformers/__init__.py
  transform/app/transform/transformers/organisation.py
  transform/app/transform/utils/common.py
  transform/app/transform/utils/loader.py
Labels: enhancement, data, solr-schema-changed, transformer

#1135 fix: [#1134] country and alternative_names in organisations merge into before_transform_service
  solr/config/configsets/organisation_v104/configoverlay.json
  solr/config/configsets/organisation_v104/lang/contractions_ca.txt
  solr/config/configsets/organisation_v104/lang/contractions_fr.txt
  solr/config/configsets/organisation_v104/lang/contractions_ga.txt
  solr/config/configsets/organisation_v104/lang/contractions_it.txt
  solr/config/configsets/organisation_v104/lang/hyphenations_ga.txt
  solr/config/configsets/organisation_v104/lang/stemdict_nl.txt
  solr/config/configsets/organisation_v104/lang/stoptags_ja.txt
  solr/config/configsets/organisation_v104/lang/stopwords_ar.txt
  solr/config/configsets/organisation_v104/lang/stopwords_bg.txt
  solr/config/configsets/organisation_v104/lang/stopwords_ca.txt
  solr/config/configsets/organisation_v104/lang/stopwords_cz.txt
  solr/config/configsets/organisation_v104/lang/stopwords_da.txt
  solr/config/configsets/organisation_v104/lang/stopwords_de.txt
  solr/config/configsets/organisation_v104/lang/stopwords_el.txt
  solr/config/configsets/organisation_v104/lang/stopwords_en.txt
  solr/config/configsets/organisation_v104/lang/stopwords_es.txt
  solr/config/configsets/organisation_v104/lang/stopwords_et.txt
  solr/config/configsets/organisation_v104/lang/stopwords_eu.txt
  solr/config/configsets/organisation_v104/lang/stopwords_fa.txt
  solr/config/configsets/organisation_v104/lang/stopwords_fi.txt
  solr/config/configsets/organisation_v104/lang/stopwords_fr.txt
  solr/config/configsets/organisation_v104/lang/stopwords_ga.txt
  solr/config/configsets/organisation_v104/lang/stopwords_gl.txt
  solr/config/configsets/organisation_v104/lang/stopwords_hi.txt
  solr/config/configsets/organisation_v104/lang/stopwords_hu.txt
  solr/config/configsets/organisation_v104/lang/stopwords_hy.txt
  solr/config/configsets/organisation_v104/lang/stopwords_id.txt
  solr/config/configsets/organisation_v104/lang/stopwords_it.txt
  solr/config/configsets/organisation_v104/lang/stopwords_ja.txt
  solr/config/configsets/organisation_v104/lang/stopwords_lv.txt
  solr/config/configsets/organisation_v104/lang/stopwords_nl.txt
  solr/config/configsets/organisation_v104/lang/stopwords_no.txt
  solr/config/configsets/organisation_v104/lang/stopwords_pt.txt
  solr/config/configsets/organisation_v104/lang/stopwords_ro.txt
  solr/config/configsets/organisation_v104/lang/stopwords_ru.txt
  solr/config/configsets/organisation_v104/lang/stopwords_sv.txt
  solr/config/configsets/organisation_v104/lang/stopwords_th.txt
  solr/config/configsets/organisation_v104/lang/stopwords_tr.txt
  solr/config/configsets/organisation_v104/lang/userdict_ja.txt
  solr/config/configsets/organisation_v104/managed-schema
  solr/config/configsets/organisation_v104/protwords.txt
  solr/config/configsets/organisation_v104/solrconfig.xml
  solr/config/configsets/organisation_v104/stopwords.txt
  solr/config/configsets/organisation_v104/synonyms.txt
  solr/config/configsets/organisation_v104/zknode.data
  transform/transformers/organisation.py
Labels: bug, data, solr-schema-changed
