Repository cyfronet-fid/eosc-search-service, pull requests merged in 2023-10, with the labels that each got.

#883 feat: [#856] exportation feature (merge into before_transform)
  backend/tests/app/routes/test_search.py
  transform/process.py
  transform/schemas/output/dataset.py
  transform/schemas/output/other_rp.py
  transform/schemas/output/publication.py
  transform/schemas/output/software.py
  transform/schemas/properties_name.py
  transform/transformations/common.py
  transform/transformers/base/oag.py
  transform/utils/loader.py
Labels: data, solr-schema-changed

#884 feat: [#856] exportation feature (merge into development)
  transform/Pipfile
  transform/Pipfile.lock
  transform/app/transform/schemas/output/dataset.py
  transform/app/transform/schemas/output/other_rp.py
  transform/app/transform/schemas/output/publication.py
  transform/app/transform/schemas/output/software.py
  transform/app/transform/schemas/properties_name.py
  transform/app/transform/transformers/base/oag.py
  transform/app/transform/utils/common.py
Labels: data, solr-schema-changed

#962 feat: [#961] improve delete and get mechanisms during a transformer update
  transform/app/api/routes/transform/full.py
  transform/app/main.py
  transform/app/services/mp_pc/__init__.py
  transform/app/services/mp_pc/data.py
  transform/app/services/solr/delete.py
  transform/app/services/solr/refresh.py
  transform/app/transform/mappings/scientific_doamin.py
  transform/app/transform/schemas/output/bundle.py
  transform/app/transform/schemas/output/data_source.py
  transform/app/transform/schemas/output/dataset.py
  transform/app/transform/schemas/output/guideline.py
  transform/app/transform/schemas/output/offer.py
  transform/app/transform/schemas/output/other_rp.py
  transform/app/transform/schemas/output/provider.py
  transform/app/transform/schemas/output/publication.py
  transform/app/transform/schemas/output/service.py
  transform/app/transform/schemas/output/software.py
  transform/app/transform/schemas/output/training.py
  transform/app/transform/transformers/bundle.py
  transform/app/transform/transformers/data_source.py
  transform/app/transform/transformers/dataset.py
  transform/app/transform/transformers/guideline.py
  transform/app/transform/transformers/offer.py
  transform/app/transform/transformers/other_rp.py
  transform/app/transform/transformers/provider.py
  transform/app/transform/transformers/publication.py
  transform/app/transform/transformers/service.py
  transform/app/transform/transformers/software.py
  transform/app/transform/transformers/training.py
  transform/app/worker.py
Labels: transformer

#964 fix: [#963] dont close spark after update, reduce celery concurrency
  transform/app/worker.py
  transform/docker-compose.yml
Labels: transformer

#971 feat: [#928] Correlate visit_id from recommendations with user actions
  backend/app/dependencies/user_actions.py
  backend/app/recommender/router_utils/recommendations.py
  backend/app/routes/web/recommendation.py
  backend/app/routes/web/user_actions.py
Labels: user actions

#985 feat: [#982] add catalogue to oag resources
  transform/app/transform/schemas/output/dataset.py
  transform/app/transform/schemas/output/other_rp.py
  transform/app/transform/schemas/output/publication.py
  transform/app/transform/schemas/output/software.py
  transform/app/transform/schemas/properties_name.py
  transform/app/transform/transformers/base/oag.py
Labels: transformer
