Repository cyfronet-fid/eosc-search-service, pull requests merged in 2024-01, with the labels that each got.

#1152 feat: ignore null string in sd mapping
  transform/app/transform/utils/common.py
Labels: transformer

#1145 feat: [#1099] Project transformer (merge into before_transform_service)
  solr/config/configsets/project_v101/configoverlay.json
  solr/config/configsets/project_v101/lang/contractions_ca.txt
  solr/config/configsets/project_v101/lang/contractions_fr.txt
  solr/config/configsets/project_v101/lang/contractions_ga.txt
  solr/config/configsets/project_v101/lang/contractions_it.txt
  solr/config/configsets/project_v101/lang/hyphenations_ga.txt
  solr/config/configsets/project_v101/lang/stemdict_nl.txt
  solr/config/configsets/project_v101/lang/stoptags_ja.txt
  solr/config/configsets/project_v101/lang/stopwords_ar.txt
  solr/config/configsets/project_v101/lang/stopwords_bg.txt
  solr/config/configsets/project_v101/lang/stopwords_ca.txt
  solr/config/configsets/project_v101/lang/stopwords_cz.txt
  solr/config/configsets/project_v101/lang/stopwords_da.txt
  solr/config/configsets/project_v101/lang/stopwords_de.txt
  solr/config/configsets/project_v101/lang/stopwords_el.txt
  solr/config/configsets/project_v101/lang/stopwords_en.txt
  solr/config/configsets/project_v101/lang/stopwords_es.txt
  solr/config/configsets/project_v101/lang/stopwords_et.txt
  solr/config/configsets/project_v101/lang/stopwords_eu.txt
  solr/config/configsets/project_v101/lang/stopwords_fa.txt
  solr/config/configsets/project_v101/lang/stopwords_fi.txt
  solr/config/configsets/project_v101/lang/stopwords_fr.txt
  solr/config/configsets/project_v101/lang/stopwords_ga.txt
  solr/config/configsets/project_v101/lang/stopwords_gl.txt
  solr/config/configsets/project_v101/lang/stopwords_hi.txt
  solr/config/configsets/project_v101/lang/stopwords_hu.txt
  solr/config/configsets/project_v101/lang/stopwords_hy.txt
  solr/config/configsets/project_v101/lang/stopwords_id.txt
  solr/config/configsets/project_v101/lang/stopwords_it.txt
  solr/config/configsets/project_v101/lang/stopwords_ja.txt
  solr/config/configsets/project_v101/lang/stopwords_lv.txt
  solr/config/configsets/project_v101/lang/stopwords_nl.txt
  solr/config/configsets/project_v101/lang/stopwords_no.txt
  solr/config/configsets/project_v101/lang/stopwords_pt.txt
  solr/config/configsets/project_v101/lang/stopwords_ro.txt
  solr/config/configsets/project_v101/lang/stopwords_ru.txt
  solr/config/configsets/project_v101/lang/stopwords_sv.txt
  solr/config/configsets/project_v101/lang/stopwords_th.txt
  solr/config/configsets/project_v101/lang/stopwords_tr.txt
  solr/config/configsets/project_v101/lang/userdict_ja.txt
  solr/config/configsets/project_v101/managed-schema
  solr/config/configsets/project_v101/protwords.txt
  solr/config/configsets/project_v101/solrconfig.xml
  solr/config/configsets/project_v101/stopwords.txt
  solr/config/configsets/project_v101/synonyms.txt
  solr/config/configsets/project_v101/zknode.data
  transform/mappings/currency.py
  transform/schemas/output/__init__.py
  transform/schemas/output/project.py
  transform/schemas/properties/data.py
  transform/schemas/properties/env.py
  transform/transformers/__init__.py
  transform/transformers/organisation.py
  transform/transformers/project.py
  transform/utils/loader.py
Labels: enhancement, data, solr-schema-changed, transformer

#1166 feat: [#1099] Add project transformer merge into development
  solr/config/configsets/project_v101/configoverlay.json
  solr/config/configsets/project_v101/lang/contractions_ca.txt
  solr/config/configsets/project_v101/lang/contractions_fr.txt
  solr/config/configsets/project_v101/lang/contractions_ga.txt
  solr/config/configsets/project_v101/lang/contractions_it.txt
  solr/config/configsets/project_v101/lang/hyphenations_ga.txt
  solr/config/configsets/project_v101/lang/stemdict_nl.txt
  solr/config/configsets/project_v101/lang/stoptags_ja.txt
  solr/config/configsets/project_v101/lang/stopwords_ar.txt
  solr/config/configsets/project_v101/lang/stopwords_bg.txt
  solr/config/configsets/project_v101/lang/stopwords_ca.txt
  solr/config/configsets/project_v101/lang/stopwords_cz.txt
  solr/config/configsets/project_v101/lang/stopwords_da.txt
  solr/config/configsets/project_v101/lang/stopwords_de.txt
  solr/config/configsets/project_v101/lang/stopwords_el.txt
  solr/config/configsets/project_v101/lang/stopwords_en.txt
  solr/config/configsets/project_v101/lang/stopwords_es.txt
  solr/config/configsets/project_v101/lang/stopwords_et.txt
  solr/config/configsets/project_v101/lang/stopwords_eu.txt
  solr/config/configsets/project_v101/lang/stopwords_fa.txt
  solr/config/configsets/project_v101/lang/stopwords_fi.txt
  solr/config/configsets/project_v101/lang/stopwords_fr.txt
  solr/config/configsets/project_v101/lang/stopwords_ga.txt
  solr/config/configsets/project_v101/lang/stopwords_gl.txt
  solr/config/configsets/project_v101/lang/stopwords_hi.txt
  solr/config/configsets/project_v101/lang/stopwords_hu.txt
  solr/config/configsets/project_v101/lang/stopwords_hy.txt
  solr/config/configsets/project_v101/lang/stopwords_id.txt
  solr/config/configsets/project_v101/lang/stopwords_it.txt
  solr/config/configsets/project_v101/lang/stopwords_ja.txt
  solr/config/configsets/project_v101/lang/stopwords_lv.txt
  solr/config/configsets/project_v101/lang/stopwords_nl.txt
  solr/config/configsets/project_v101/lang/stopwords_no.txt
  solr/config/configsets/project_v101/lang/stopwords_pt.txt
  solr/config/configsets/project_v101/lang/stopwords_ro.txt
  solr/config/configsets/project_v101/lang/stopwords_ru.txt
  solr/config/configsets/project_v101/lang/stopwords_sv.txt
  solr/config/configsets/project_v101/lang/stopwords_th.txt
  solr/config/configsets/project_v101/lang/stopwords_tr.txt
  solr/config/configsets/project_v101/lang/userdict_ja.txt
  solr/config/configsets/project_v101/managed-schema
  solr/config/configsets/project_v101/protwords.txt
  solr/config/configsets/project_v101/solrconfig.xml
  solr/config/configsets/project_v101/stopwords.txt
  solr/config/configsets/project_v101/synonyms.txt
  solr/config/configsets/project_v101/zknode.data
  transform/README.md
  transform/app/transform/mappings/currency.py
  transform/app/transform/schemas/input/__init__.py
  transform/app/transform/schemas/input/project.py
  transform/app/transform/schemas/output/__init__.py
  transform/app/transform/schemas/output/project.py
  transform/app/transform/schemas/properties/data.py
  transform/app/transform/schemas/properties/env.py
  transform/app/transform/transformers/__init__.py
  transform/app/transform/transformers/organisation.py
  transform/app/transform/transformers/project.py
  transform/app/transform/utils/loader.py
Labels: enhancement, data, solr-schema-changed, transformer

#1168 feat: preload lazy loaded modules
  ui/apps/ui/src/app/app.routing.module.ts
Labels: enhancement

#1182 feat: [#1123] Add catalogue solr schema
  solr/config/configsets/catalogue_v101/configoverlay.json
  solr/config/configsets/catalogue_v101/lang/contractions_ca.txt
  solr/config/configsets/catalogue_v101/lang/contractions_fr.txt
  solr/config/configsets/catalogue_v101/lang/contractions_ga.txt
  solr/config/configsets/catalogue_v101/lang/contractions_it.txt
  solr/config/configsets/catalogue_v101/lang/hyphenations_ga.txt
  solr/config/configsets/catalogue_v101/lang/stemdict_nl.txt
  solr/config/configsets/catalogue_v101/lang/stoptags_ja.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_ar.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_bg.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_ca.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_cz.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_da.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_de.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_el.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_en.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_es.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_et.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_eu.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_fa.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_fi.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_fr.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_ga.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_gl.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_hi.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_hu.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_hy.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_id.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_it.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_ja.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_lv.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_nl.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_no.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_pt.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_ro.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_ru.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_sv.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_th.txt
  solr/config/configsets/catalogue_v101/lang/stopwords_tr.txt
  solr/config/configsets/catalogue_v101/lang/userdict_ja.txt
  solr/config/configsets/catalogue_v101/managed-schema
  solr/config/configsets/catalogue_v101/protwords.txt
  solr/config/configsets/catalogue_v101/solrconfig.xml
  solr/config/configsets/catalogue_v101/stopwords.txt
  solr/config/configsets/catalogue_v101/synonyms.txt
  solr/config/configsets/catalogue_v101/zknode.data
  transform/app/transform/schemas/output/__init__.py
  transform/app/transform/schemas/output/catalogue.py
Labels: data, solr-schema-changed

#1181 feat: [#1171] pydantic env
  transform/.env.template
  transform/Pipfile
  transform/Pipfile.lock
  transform/README.md
  transform/app/api/routes/solr/create_aliases.py
  transform/app/api/routes/solr/create_collections.py
  transform/app/api/routes/solr/delete_collections.py
  transform/app/api/routes/transform/batch.py
  transform/app/api/routes/transform/full.py
  transform/app/main.py
  transform/app/server.py
  transform/app/services/mp_pc/data.py
  transform/app/services/solr/collections.py
  transform/app/services/solr/configs.py
  transform/app/services/solr/delete.py
  transform/app/services/solr/refresh.py
  transform/app/settings.py
  transform/app/tasks/batch.py
  transform/app/tasks/create_aliases.py
  transform/app/tasks/create_collections.py
  transform/app/tasks/delete_collections.py
  transform/app/transform/schemas/properties/env.py
  transform/app/transform/transformers/__init__.py
  transform/app/transform/transformers/base/marketplace.py
  transform/app/transform/transformers/bundle.py
  transform/app/transform/transformers/data_source.py
  transform/app/transform/transformers/dataset.py
  transform/app/transform/transformers/guideline.py
  transform/app/transform/transformers/offer.py
  transform/app/transform/transformers/organisation.py
  transform/app/transform/transformers/other_rp.py
  transform/app/transform/transformers/project.py
  transform/app/transform/transformers/provider.py
  transform/app/transform/transformers/publication.py
  transform/app/transform/transformers/service.py
  transform/app/transform/transformers/software.py
  transform/app/transform/transformers/training.py
  transform/app/transform/utils/load.py
  transform/app/transform/utils/loader.py
  transform/app/transform/utils/save.py
  transform/app/transform/utils/send.py
  transform/app/transform/utils/utils.py
  transform/app/web/static/main.css
  transform/app/web/static/main.js
  transform/app/web/templates/_base.html
  transform/app/web/templates/footer.html
  transform/app/web/templates/home.html
  transform/docker-compose.yml
Labels: refactor, transformer
